/* nav section */


.nav-section{
    display: flex;
    justify-content: space-between
}
.nav-section ul li a{
    margin-top: 50px;
}
.header-section{
    width: 1140px;
    margin: 0px auto;
}
nav ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
ul li{
    display: inline;
    margin-left: 50px;
    margin-top: 100px;
    
}
.Shop{
    color: #8987A1;
}
.About{
    color: #8987A1;
}

/* section-1 */
.section-1{
    
    width: 1140px;
    margin: 150px auto;
}
.section-1-div{
    display: flex;
}

.h1-span{
    color: #E95A08;
}
.section1-description{
    color: #8987A1;
    font-size: 18px;
}

.section1-title{
    font-size: 40px;
    width: 570px;
    /* height: 175px; */
}
.section-2{
    width: 1140px;
    margin: 0px auto;
    text-align: center;
}
.color{
    color: #E95A08;
}
.section-2-title{
    font-size: 40px;
}
.section-2-description{
    color: #8987A1;
}
.section-2-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.button{
    background-color: #E95A08;
    color: white;
    padding: 7px 90px;
    border: none;
    margin-bottom: 20px; 
}
.section-2-div{
    margin-top: 50px;
}

/* section3 */

.section-3{
    width: 1140px;
    margin: 0px auto;
}
.section-3-div{
    display: flex;
}
.section-3{
    display: flex;
}
.section-3-title{
    width: 530px;
    font-size: 40px;
}
.section-3{
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.trusted{
    height: 250px;
    width: 250px;
    position: relative;
    top: -690px;
    left: 390px;
}
.section-3-images{
    margin-top: 250px;
}
.section-3-ul li{
    margin-left: -50px;
}
.section-3-descriptions{
    align-items: center;
    justify-content: center;
    margin-right: -70px;
}
.section-3-ul{
    padding: 0px;
}
.section-3-ul li{
    margin: 0px;
    color: #8987A1;
}

/* secction-4 */

.section-4{
    padding: 200px 0px;

}
.section4-title{
    text-align: center;
}
.section-4{
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.join-section{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.section4-title{
    color: white;
    font-size: 60px;
}

.section4-button{
    background-color: #E95A08;
    color: white;
    font-size: 20px;
    padding: 9px 15px;
    border: none;
    font-family: serif;
    border-radius: 6px;
    margin-top: -8px;
    
}

.section4-input{
    padding: 9px 140px;
    margin: 0px;
}


/* section-5 */


.section-5{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.section5-img{
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 366px;
    height: 206px;
    border-radius: 10px;
    color: aliceblue;
}
.section5-imges{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 366px;
    height: 206px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;

}
.section5-imges h1 {
    font-size: 40px;
}
.section5-img h1{
    font-size: 40px;
}
.section5-imges a{
    color: white;
}
.section5-img a{
    color: white;
    font-size: 20px;
}
.section5-imges{
    color: white;
    font-size: 20px;
}

.section5-bigImage a{
    color: aliceblue;
    font-size: 20px;
}

.section5-bigImage h1{
    font-size: 40px;
    margin-top: 30px;
}
.section5-bigImage{
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 752px;
    height: 423px;
    border-radius: 10px;
    color: aliceblue; 
}

.flowers-shop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5-parent{
    margin-right: 30px;
}

.section5-bigImage{
    margin-top: 25px;
}

.section-5{
    margin-bottom: 200px;
}
.latest{
    color: #E95A08;
}

.section-5-title{
    font-size: 40px;
}

.section-5-description{
    color: #8987A1;
}

/* footer section */
footer{
    width: 1140px;
    margin: 0px auto;
}
.links{
    display: flex;
}
ol li{
    list-style-type: none;
    color: #8987A1;
}
.links li{
    padding: 25px;
}
.icons img{
    margin-left: 10px;
}
 
.footer{
    display: flex;
    align-items: center;
    margin-top: 170px;
    justify-content: space-around;
    margin-left: 30px;
}

.footer-description{
    color: #8987A1;
}

.none{
    display: none;
}
@media screen and (max-width: 576px){

    .header-section{
        width: 100px;
        margin-left: 0px;
    }
    .fa-solid {
        display: none;
    }
    .Shop{
        display: none;
    }
    .About{
        display: none;
    }
    .home{
        display: none;
    }
    .header-img{
        margin: 0px;
    }
    .section-2-div{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin: 0px;
        overflow-x: hidden;
    }

    .section-1-div{
        width: 100%;
        flex-direction: column-reverse;    
        
    }
    .section-2{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        column-gap: 10px;

    }
    .flowers{
        margin: 0px 10px;
    }
    .section-3{
        flex-direction: column;
        width: 100%;
    }
    .trusted{
        display: none;
    }
    .section-3-descriptions{
        width: 100%;
        margin: 0 auto;
        text-align:left;
        margin-left: 7px;
    }
    .section-5{
        width: 100%;
    }
    .flowers-shop{
        flex-direction: column;
    }
    .section5-bigImage{
        width: 366px;
        height: 206px;
        margin: 25px;
        margin-left: -12px;
    }
    .section-4{
        width: 100%;
        padding: 100px 0px;
    }
    .join-section{
        display: flex;
        width: 100%;
        align-items: center;
        justify-items: center;
        
    }
    .section4-input{
        padding: 9px 100px;
    }
    .section4-button{
        margin-top: 3px;
    }
    footer{
        width: 90%;
    }
    .footer{
        width: 100%;
        flex-direction: column;
        align-items: first baseline;
    }
    .links{
        flex-direction: column;
        margin: 20px 0px;
    }

}

